<div class="content-body">
    <div class="content-body-wrapper">

        <section class="content-body-heading">
            <div class="content-body-heading-wrapper">
                <h2 class="title">Contact Us</h2>
            </div>
        </section>

        <section class="content-body-description">
            <div class="content-body-description-wrapper">
                <p>Before contacting us, we recommend that you browse our <a href="#" title="FAQs"
                        target="_self">FAQs</a>, where you can find answers to most of
                    your questions - if you still can't find an answer feel free to contact us.</p>
            </div>
        </section>

        <section class="content-body-email">
            <div class="content-body-email-wrapper">

                <div class="content-body-email__heading">
                    <div class="image">
                        <img src="./images/icon-email.png" alt="email" title="email">
                    </div>
                    <div class="title">
                        Email Us
                    </div>
                </div>

                <div class="content-body-email__form">
                    <h3>Department:</h3>
                    <form class="content-body-email__form-wrapper">
                        <div class="content-body-email__department">

                            <div class="input-item">
                                <select name="customerServices" id="customerServices" class="customer-services">
                                    <option value="0" selected>Customer Services</option>
                                    <option value="1">Customer Services2</option>
                                    <option value="2">Customer Services3</option>
                                </select>
                            </div>
                            <div class="input-item">
                                <input type="text" placeholder="Full Name">
                            </div>
                            <div class="input-item">
                                <input type="text" placeholder="Email">
                            </div>

                            <div class="recapcha">
                                <img src="./images/icon-recapcha.png" alt="recapcha" title="recapcha">
                            </div>

                        </div>
                        <div class="content-body-email__textarea">
                            <div class="input-textarea">
                                <textarea id="inputTextarea" name="Input Textarea" placeholder="Text..."
                                    rows="6"></textarea>
                            </div>
                            <div class="content-body-email-submit">
                                <button type="s" class="btn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="content-body-call">
            <div class="content-body-call-wrapper">

                <div class="content-body-call__heading">
                    <div class="image">
                        <img src="./images/icon-call.png" alt="Call Us" title="Call Us">
                    </div>
                    <div class="title">
                        <strong>Call Us - </strong>Speak to Costumer Service Representatives
                    </div>
                </div>

                <div class="content-body-call__list">
                    <p class="content-body-call__description"><strong>Customer Service / Sales Hours:</strong> Monday -
                        Friday: 8AM - 5PM (GMT) | Saturday - Sunday: 9AM - 4PM
                        (GMT)</p>
                    <ul>
                        <li class="content-body-call__item">
                            <div class="content-body-call__icon">
                                <img src="./images/icon-usa.png" alt="USA" title="USA">
                            </div>
                            <span>
                                <strong>
                                    USA :
                                </strong>
                            </span>
                            <a href="tel:16467418545">+1-6467418545</a>
                        </li>
                        <li class="content-body-call__item">
                            <div class="content-body-call__icon">
                                <img src="./images/icon-sweden.png" alt="Sweden" title="Sweden">
                            </div>
                            <span>
                                <strong>
                                    Sweden :
                                </strong>
                            </span>
                            <a href="tel:46844683922">+46-844683922</a>
                        </li>
                        <li class="content-body-call__item">
                            <div class="content-body-call__icon">
                                <img src="./images/icon-australia.png" alt="Australia " title="Australia ">
                            </div>
                            <span>
                                <strong>
                                    Australia :
                                </strong>
                            </span>
                            <a href="tel:61280152669">+61-280152669</a>
                        </li>
                        <li class="content-body-call__item">
                            <div class="content-body-call__icon">
                                <img src="./images/icon-uk.png" alt="UK" title="UK">
                            </div>
                            <span>
                                <strong>
                                    UK :
                                </strong>
                            </span>
                            <a href="tel:442036954911">+44-2036954911</a>
                        </li>
                        <li class="content-body-call__item">
                            <div class="content-body-call__icon">
                                <img src="./images/icon-france.png" alt="France" title="France">
                            </div>
                            <span>
                                <strong>
                                    France :
                                </strong>
                            </span>
                            <a href="tel:33182880788">+33-182880788</a>
                        </li>
                        <li class="content-body-call__item">
                            <div class="content-body-call__icon">
                                <img src="./images/icon-italy.png" alt="Italy " title="Italy ">
                            </div>
                            <span>
                                <strong>
                                    Italy :
                                </strong>
                            </span>
                            <a href="tel:390694800119">+39-0694800119</a>
                        </li>
                        <li class="content-body-call__item">
                            <div class="content-body-call__icon">
                                <img src="./images/icon-spain.png" alt="Spain" title="Spain">
                            </div>
                            <span>
                                <strong>
                                    Spain :
                                </strong>
                            </span>
                            <a href="tel:34911238384">+34-911238384</a>
                        </li>
                    </ul>
                </div>


            </div>
        </section>

        <section class="content-body-chat">
            <div class="content-body-chat-wrapper">

                <div class="content-body-chat__heading">
                    <div class="image">
                        <img src="./images/icon-chat.png" alt="chat Us" title="chat Us">
                    </div>
                    <div class="title">
                        <strong>Chat Online - </strong>24/7 (all day - every day)
                    </div>
                </div>

                <div class="content-body-chat__description">
                    <p>
                        <a href="#" target="_self" title="Chat Online">Click here</a> and start chating with our support
                        team.
                    </p>
                </div>
            </div>
        </section>

        <section class="content-body-address">
            <div class="content-body-address-wrapper">

                <div class="content-body-address__heading">
                    <div class="image">
                        <img src="./images/icon-address.png" alt="Address" title="Address">
                    </div>
                    <div class="title">
                        <strong>address Online - </strong>24/7 (all day - every day)
                    </div>
                </div>

                <div class="content-body-address__content">
                    <p>
                        Puerta de las Naciones, Ribera del Loira 46
                    </p>
                    <p>Campo de las Naciones, 28042</p>
                    <p>Madrid, Spain</p>
                </div>
            </div>
        </section>

        <section class="content-body-complain">
            <div class="content-body-complain-wrapper">

                <div class="content-body-complain__heading">
                    <div class="image">
                        <img src="./images/icon-sad.png" alt="complain Us" title="complain Us">
                    </div>
                    <div class="title">
                        <strong>File a Complaint</strong>
                    </div>
                </div>

                <div class="content-body-complain__file">
                    <label for="complainFile" href="#" target="_self" title="complain Online">Click here</label>
                    <input hidden type="file" id="complainFile">
                </div>
            </div>
        </section>
    </div>

</div>
</div>