<div class="content-aside">
    <section class="advantages">
        <div class="advantages-wrapper">
            <h2 class="advantages__title">Our advantages
            </h2>
            <ul class="advantages__list">
                <li class="advantages__item">
                    <div class="image">
                        <img src="./images/advantages-guarantee.png" alt="Order Guarantee" title="Order Guarantee">
                    </div>
                    <span class="name">
                        Order </br>Guarantee
                    </span>
                </li>
                <li class="advantages__item">
                    <div class="image">
                        <img src="./images/advantages-valid.png" alt="Valid & Authentic Tickets"
                            title="Valid & Authentic Tickets">
                    </div>
                    <span class="name">
                        Valid & Authentic Tickets
                    </span>
                </li>
                <li class="advantages__item">
                    <div class="image">
                        <img src="./images/advantages-delivery.png" alt="Delivery in time" title="Delivery in time">
                    </div>
                    <span class="name">
                        Delivery in time
                    </span>
                </li>
                <li class="advantages__item">
                    <div class="image">
                        <img src="./images/advantages-cheap.png" alt="Cheap & Competitive Prices"
                            title="Cheap & Competitive Prices">
                    </div>
                    <span class="name">
                        Cheap & Competitive Prices
                    </span>
                </li>
                <li class="advantages__item">
                    <div class="image">
                        <img src="./images/advantages-secure.png" alt="Secure & Safe Transaction"
                            title="Secure & Safe Transaction">
                    </div>
                    <span class="name">
                        Secure & Safe Transaction
                    </span>
                </li>
                <li class="advantages__item">
                    <div class="image">
                        <img src="./images/advantages-customer.png" alt="Customer care team" title="Customer care team">
                    </div>
                    <span class="name">
                        Customer care</br> team
                    </span>
                </li>

            </ul>
            <div class="advantages__button">
                <button class="btn-primary">
                    Learn More
                </button>
            </div>
        </div>
    </section>

    <section class="asta">
        <div class="asta-wrapper">
            <div class="asta__image">
                <img src="./images/asta-logo.png" class="image" alt="asta logo">
            </div>
            <div class="asta__content">
                <span>
                    MEMBER OF THE ASSOCIATION OF SECONDARY TICKET AGENTS
                </span>
            </div>
        </div>
    </section>

    <section class="trustpilot">
        <div class="trustpilot-wrapper">
            <div class="trustpilot__logo">
                <a href="#" title="trustpilot" target="_blank">
                    <img src="./images/trustpilot-logo.png" alt="trustpilot logo" title="trustpilot logo">
                </a>
            </div>
            <div class="trustpilot__content">
                <div>"Buena Ubicación, Facilidades En La Entrega De Los Tickets, Precios Competitivos..."
                    Manuel Rosello..."</div>
            </div>
        </div>
        <div class="trustpilot__bottom">
            <span class="trustpilot__reviews">
                100 Reviews
            </span>
            <button class="btn-secondary">
                View all
            </button>
        </div>
    </section>

    <section class="feefo">
        <div class="feefo-wrapper">
            <div class="feefo__logo">
                <a href="#" title="feefo" target="_blank">
                    <img src="./images/feefo-logo.png" alt="feefo logo" title="feefo logo">
                </a>
            </div>
            <div class="feefo__content">
                <div>"Buena Ubicación, Facilidades En La Entrega De Los Tickets, Precios Competitivos..."
                    Manuel Rosello..."</div>
            </div>
        </div>
        <div class="feefo__bottom">
            <span class="feefo__reviews">
                835 Reviews
            </span>
            <button class="btn-secondary">
                View all
            </button>
        </div>

    </section>


</div>