<footer class="footer">
  <div class="container">
    <div class="footer-wraper">
      <div class="footer-copyright">
        <p>© 2018 All rights reserved to Football Ticket Net</p>
      </div>
      <nav class="footer-nav">
        <ul class="footer-nav__list">
          <li><a href="#" target="_self" title="Acerca de nosotros">Acerca de nosotros</a></li>
          <li><a href="#" target="_self" title="Contáctanos">Contáctanos</a></li>
          <li><a href="#" target="_self" title="Blog">Blog</a></li>
          <li><a href="#" target="_self" title="Tarjeta de regalo">Tarjeta de regalo</a></li>
          <li><a href="#" target="_self" title="Preguntas más frecuentes">Preguntas más frecuentes</a></li>
          <li><a href="#" target="_self" title="Términos y condiciones">Términos y condiciones</a></li>
          <li><a href="#" target="_self" title="Privacy Policy">Privacy Policy</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>