<header class="header">

  <div class="secondary-bar">
    <div class="secondary-bar-wrapper container">
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="#" target="_self" title="Acerca de nosotros">Acerca de nosotros</a></li>
          <li><a href="#" target="_self" title="Contáctanos">Contáctanos</a></li>
          <li><a href="#" target="_self" title="Tarjeta de regalo">Tarjeta de regalo</a></li>
          <li><a href="#" target="_self" title="Preguntas más frecuentes">Preguntas más frecuentes</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="primary-bar">
    <div class="container">
      <div class="primary-bar-wrapper">
        <div class="logo">
          <a href="#">
            <img src="./images/FTN-logo.png" alt="FTN-logo" title="FTN-logo">
          </a>
        </div>
        <nav class="nav">
          <ul class="nav__list">
            <li><a href="#" target="_self" title="Home">Home</a></li>
            <li><a href="#" target="_self" title="Teams">Teams</a></li>
            <li><a href="#" target="_self" title="Tournaments">Tournaments</a></li>
            <li><a href="#" target="_self" title="International">International</a></li>
            <li><a href="#" target="_self" title="Stadium Tours">Stadium Tours</a></li>
            <li><a href="#" target="_self" title="Most Popular">Most Popular</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="description ">
    <div class="container">
      <p>Football Ticket Net is one of the leading secondary ticket marketplace websites that provides tickets to sold out
        football events across the world. Please note that tickets that are sold on this website may be listed at a higher
        or lower price than the original ticket face value.</p>
  
    </div>
  </div>

</header>