<div class="popular-searches">
    <div class="container">
        <div class="popular-searches-wrapper">
            <div class="popular-searches__heading">
                <h2 class="title">Popular Searches</h2>
            </div>
            <div class="popular-searches__content">
                <a href="#" target="_self" title="AFC Ajax" class="search-tag">
                    AFC Ajax
                </a>
                <a href="#" target="_self" title="Ateltico Madrid " class="search-tag">
                    Ateltico Madrid
                </a>
                <a href="#" target="_self" title=" Manchester United" class="search-tag">
                    Manchester United
                </a>
                <a href="#" target="_self" title=" Juventus " class="search-tag">
                    Juventus
                </a>
                <a href="#" target="_self" title="AS Roma " class="search-tag">
                    AS Roma
                </a>
                <a href="#" target="_self" title="Premier League " class="search-tag">
                    Premier League
                </a>
                <a href="#" target="_self" title="FC Porto " class="search-tag">
                    FC Porto
                </a>
                <a href="#" target="_self" title="England" class="search-tag">
                    England
                </a>
                <a href="#" target="_self" title="Liverpool" class="search-tag">
                    Liverpool
                </a>
                <a href="#" target="_self" title="Tottenham Hotspur" class="search-tag">
                    Tottenham Hotspur
                </a>
                <a href="#" target="_self" title="West Ham United" class="search-tag">
                    West Ham United
                </a>
                <a href="#" target="_self" title="SSC Napoli" class="search-tag">
                    SSC Napoli
                </a>
                <a href="#" target="_self" title="Ateltico" class="search-tag">
                    Ateltico
                </a>
                <a href="#" target="_self" title="Chelsea" class="search-tag">
                    Chelsea
                </a>
                <a href="#" target="_self" title="Arsenal" class="search-tag">
                    Arsenal
                </a>
                <a href="#" target="_self" title="Real Madrid
" class="search-tag">
                    Real Madrid

                </a>
                <a href="#" target="_self" title="SSC Napoli" class="search-tag">
                    SSC Napoli
                </a>
                <a href="#" target="_self" title="Valencia CF" class="search-tag">
                    Valencia CF
                </a>
                <a href="#" target="_self" title="Bayer Leverkusen" class="search-tag">
                    Bayer Leverkusen
                </a>
                <a href="#" target="_self" title="Champions League" class="search-tag">
                    Champions League
                </a>
                <a href="#" target="_self" title="Everton" class="search-tag">
                    Everton
                </a>
                <a href="#" target="_self" title="AC Milan" class="search-tag">
                    AC Milan
                </a>
                <a href="#" target="_self" title="Manchester City" class="search-tag">
                    Manchester City
                </a>
                <a href="#" target="_self" title="Sevilla FC" class="search-tag">
                    Sevilla FC
                </a>
                <a href="#" target="_self" title="Inter Milan" class="search-tag">
                    Inter Milan
                </a>
                <a href="#" target="_self" title="Bayern Munich" class="search-tag">
                    Bayern Munich
                </a>
            </div>
        </div>

    </div>
</div>