<div class="socials">
    <div class="container">
        <div class="socials-wrapper">

            <div class="socials__follow">
                <div class="image">
                    <img src="./images/logo-footer.png" alt="Logo" title="Logo">
                </div>
                <div class="socials__follow-list">
                    <h3>Follow us</h3>
                    <ul class="list">
                        <li class="socials__follow-item">
                            <a href="#" title="facebook" target="_blank">
                                <i class="fa-brands fa-square-facebook"></i>
                            </a>
                        </li>
                        <li class="socials__follow-item">
                            <a href="#" title="google-plus" target="_blank">

                                <i class="fa-brands fa-square-google-plus"></i>
                            </a>
                        </li>
                        <li class="socials__follow-item">
                            <a href="#" title="twitter" target="_blank">
                                <i class="fa-brands fa-square-twitter"></i>
                            </a>
                        </li>
                        <li class="socials__follow-item">
                            <a href="#" title="pinterest" target="_blank">
                                <i class="fa-brands fa-square-pinterest"></i>
                            </a>
                        </li>
                        <li class="socials__follow-item">
                            <a href="#" title="instagram" target="_blank">
                                <i class="fa-brands fa-square-instagram"></i>
                            </a>
                        </li>
                        <li class="socials__follow-item">
                            <a href="#" title="youtube" target="_blank">
                                <i class="fa-brands fa-square-youtube"></i>
                            </a>
                        </li>
                        <li class="socials__follow-item">
                            <a href="#" title="linkedin" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="socials__follow-item">
                            <a href="#" title="rss" target="_blank">
                                <i class="fa-solid fa-square-rss"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="socials__info">
             <div class="socials__info-item">
                <div class="name">
                    <h3>
                        We Deliver With
                    </h3>
                </div>
                <div class="list">
                    <img src="./images/logo-delivery.png" alt="">
                </div>
             </div>
             <div class="socials__info-item">
                <div class="name">
                    <h3>
                        We Accept
                    </h3>
                </div>
                <div class="list">
                    <img src="./images/logo-accept.png" alt="">
                </div>
             </div>
             <div class="socials__info-item">
                <div class="name">
                    <h3>
                        Our Partners
                    </h3>
                </div>
                <div class="list list-partner">
                    <img src="./images/logo-rugby-on-black.png" alt="">
                    <img src="./images/logo-tennis-on-black.png" alt="">
                </div>
             </div>


            </div>

            <div class="socials__form">
                <form class="socials__form-wrapper">
                    <h3>newsletter signup</h3>
                    <div class="input-item">
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="input-item">
                        <input type="email" placeholder="Email">
                    </div>
                    <button type="submit" class="btn-primary">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>